---
- name: Install dnf programs
  hosts: localhost
  tasks:
  - name: Install dnf programs
    shell: dnf -y install
      xclip
      xset
      brightnessctl
      ripgrep
      fd-find
      alacritty
      g++
      luarocks
      git-delta
      stow
      btop
  - name: Make alacritty borders look "normal" on Wayland
    shell: sed -i "s/Exec=alacritty/Exec=env -u WAYLAND_DISPLAY alacritty/"
      Alacritty.desktop
